---
import Layout from "../layouts/Layout.astro";
import tfLogo from "../assets/traumfokus_logo.webp";
import Image from "astro/components/Image.astro";
---

<Layout title="TraumFokus">
  <main>
    <Image class="logo" src={tfLogo} alt="TraumFokus Logo" />
    <h1><span class="text-gradient">TraumFokus</span></h1>
    <h2>Diese Website ist noch in Arbeit</h2>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h2 {
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
</style>
